In [1]:
import pyodbc
import csv
import xml.etree.cElementTree as et
import numpy as np
import pandas as pd
import re

In [40]:
EMOTIONS = ['joy', 'anger', 'sadness', 'fear']

## Fetching ISEAR Dataset

In [41]:
MDB = "./ISEAR_0/isear_databank/isear_databank.mdb"
DRV = "{Microsoft Access Driver (*.mdb, *.accdb)}"
PWD = "pw"

In [42]:
conn = pyodbc.connect('DRIVER={}; DBQ={}; PWD={}'.format(DRV, MDB, PWD))
cursor = conn.cursor()

In [43]:
QUERY = 'SELECT * FROM data;' 
rows = cursor.execute(QUERY).fetchall()
ISEAR_df = pd.DataFrame([tuple(row) for row in rows], columns=[column[0] for column in cursor.description])
cursor.close()
conn.close()
ISEAR_df

,ID,CITY,COUN,SUBJ,SEX,AGE,RELI,PRAC,FOCC,MOCC,...,SELF,RELA,VERBAL,NEUTRO,Field1,Field3,Field2,MYKEY,SIT,STATE
0,11001.0,1.0,1.0,1.0,1.0,33.0,1.0,2.0,6.0,1.0,...,3.0,3.0,2.0,0.0,joy,4,3,0110011,"During the period of falling in love, each tim...",1
1,11001.0,1.0,1.0,1.0,1.0,33.0,1.0,2.0,6.0,1.0,...,2.0,2.0,0.0,0.0,fear,3,2,0110012,When I was involved in a traffic accident.,1
2,11001.0,1.0,1.0,1.0,1.0,33.0,1.0,2.0,6.0,1.0,...,2.0,1.0,0.0,0.0,anger,1,3,0110013,When I was driving home after several days of...,1
3,11001.0,1.0,1.0,1.0,1.0,33.0,1.0,2.0,6.0,1.0,...,1.0,1.0,0.0,2.0,sadness,4,4,0110014,When I lost the person who meant the most to me.,1
4,11001.0,1.0,1.0,1.0,1.0,33.0,1.0,2.0,6.0,1.0,...,0.0,2.0,0.0,0.0,disgust,4,4,0110015,The time I knocked a deer down - the sight of ...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7661,331062.0,1.0,33.0,62.0,2.0,21.0,2.0,1.0,7.0,7.0,...,2.0,2.0,3.0,0.0,anger,1,2,3310623,Two years back someone invited me to be the tu...,1
7662,331062.0,1.0,33.0,62.0,2.0,21.0,2.0,1.0,7.0,7.0,...,2.0,0.0,1.0,1.0,sadness,4,3,3310624,I had taken the responsibility to do something...,1
7663,331062.0,1.0,33.0,62.0,2.0,21.0,2.0,1.0,7.0,7.0,...,2.0,2.0,0.0,0.0,disgust,1,2,3310625,I was at home and I heard a loud sound of spit...,1
7664,331062.0,1.0,33.0,62.0,2.0,21.0,2.0,1.0,7.0,7.0,...,2.0,0.0,2.0,0.0,shame,1,3,3310626,I did not do the homework that the teacher had...,1
7665,331062.0,1.0,33.0,62.0,2.0,21.0,2.0,1.0,7.0,7.0,...,1.0,2.0,1.0,1.0,guilt,1,2,3310627,I had shouted at my younger brother and he was...,1

In [44]:
ISEAR_df = ISEAR_df.iloc[:, [36, 40]]
ISEAR_df.columns = ['ISEAR_labels', 'ISEAR_sentences']
ISEAR_df

     ISEAR_labels                                    ISEAR_sentences
0             joy  During the period of falling in love, each tim...
1            fear         When I was involved in a traffic accident.
2           anger  When I was driving home after  several days of...
3         sadness  When I lost the person who meant the most to me.
4         disgust  The time I knocked a deer down - the sight of ...
...           ...                                                ...
7661        anger  Two years back someone invited me to be the tu...
7662      sadness  I had taken the responsibility to do something...
7663      disgust  I was at home and I heard a loud sound of spit...
7664        shame  I did not do the homework that the teacher had...
7665        guilt  I had shouted at my younger brother and he was...

[7666 rows x 2 columns]

In [45]:
ISEAR_df['ISEAR_labels'].value_counts()

ISEAR_labels
anger      1096
sadness    1096
disgust    1096
shame      1096
fear       1095
joy        1094
guilt      1093
Name: count, dtype: int64

In [46]:
ISEAR_df_filtered = ISEAR_df[ISEAR_df.ISEAR_labels.isin(EMOTIONS)].reset_index(drop=True)
ISEAR_df_filtered

     ISEAR_labels                                    ISEAR_sentences
0             joy  During the period of falling in love, each tim...
1            fear         When I was involved in a traffic accident.
2           anger  When I was driving home after  several days of...
3         sadness  When I lost the person who meant the most to me.
4             joy  When I got a letter offering me the Summer job...
...           ...                                                ...
4376      sadness  This issue worried me rather than saddening me...
4377          joy         I received a letter from a distant friend.
4378         fear  My parents were out and I was the eldest at ho...
4379        anger  Two years back someone invited me to be the tu...
4380      sadness  I had taken the responsibility to do something...

[4381 rows x 2 columns]

In [11]:
ISEAR_CSV = "./datasets_csv/ISEAR_dataset.csv"
ISEAR_df_filtered.to_csv(ISEAR_CSV)

## Fetching AffectiveText Dataset

In [ ]:
XML1 = "./AffectiveText.Semeval.2007/AffectiveText.test/affectivetext_test.xml"
XML2 = "./AffectiveText.Semeval.2007/AffectiveText.trial/affectivetext_trial.xml"
LABELS1 = "./AffectiveText.Semeval.2007/AffectiveText.test/affectivetext_test.emotions.gold"
LABELS2 = "./AffectiveText.Semeval.2007/AffectiveText.trial/affectivetext_trial.emotions.gold"
VALENCE1 = "./AffectiveText.Semeval.2007/AffectiveText.test/affectivetext_test.valence.gold"
VALENCE2 = "./AffectiveText.Semeval.2007/AffectiveText.trial/affectivetext_trial.valence.gold"

In [ ]:
tree=et.parse(XML2)
root=tree.getroot()

In [ ]:
AFFECTIVETEXT_sentences = []
for instance in root.iter('instance'):
    AFFECTIVETEXT_sentences.append(instance.text)

AFFECTIVETEXT_sentences

['Mortar assault leaves at least 18 dead',
 'Goal delight for Sheva',
 'Nigeria hostage feared dead is freed',
 'Bombers kill shoppers',
 'Vegetables, not fruit, slow brain decline',
 'PM: Havana deal a good experiment',
 'Kate is marrying Doherty',
 'NASA revisiting life on Mars question',
 'Happy birthday, iPod',
 'Alonso would be happy to retire with three titles',
 "Madonna's New Tot 'Happy at Home' in London",
 "Nicole Kidman asks dad to help stop husband's drinking",
 'United Finds Good Connection in Win',
 "'Runway': Making Good Without Making Nice",
 "We were 'arrogant and stupid' over Iraq, says US diplomat",
 'Bad reasons to be good',
 "Madonna's new baby's daddy didn't realize adoption was `for good'",
 "Women in their 60s 'are perfectly good mothers'",
 "We're a pretty kind 'bully'",
 "Moderate drinking reduces men's heart attack risk",
 'Tom Cruise and Katie Holmes set wedding date',
 'Kidnapped AP photographer freed in Gaza',
 'Bush Insists Troops Stay in Iraq, Predicts Midterm Victory',
 'Hurricane Paul Weakens To Tropical Storm',
 'UK announces immigration restrictions',
 'Three found alive from missing Russian ship -report',
 'Poison Pill to Swallow: Hawks Hurting After Loss to Vikes',
 'Injured Marathon Winner Leaves Hospital',
 'Hacker unlocks Apple music download protection',
 'Spanish journalist seized in Gaza',
 'Sudan urges UN to replace its special envoy',
 'Resolution approved for international games',
 'Pair of Satellites Will Document Sun in 3-D',
 'Martian Life Could Have Evaded Detection by Viking Landers',
 'The sweet tune of an anniversary',
 'Did Viking Probes Miss Life on Mars?',
 'Diplomat acknowledges US arrogance in Iraq',
 'More Human Remains Found at Ground Zero',
 'How to Prevent Iraq From Getting Even Worse',
 'Tensions as Hungary marks uprising',
 'Stanford study warns of Internet addiction',
 'No evidence of ice reserves on the moon',
 'A Picture and A Thousand Words',
 'Parachutist dies at bridge-jump festival',
 'US Troops Killed In October In Iraq',
 'Chefs not counting calories, study finds',
 'Deaths linked to flu vaccine',
 'Perfect lives lose their focus',
 'Bread-Heavy Diet Linked to Kidney Cancer',
 'Beating poverty in a small way',
 'Israel insists on Lebanon overflights',
 'Britain to restrict immigrants from new EU members',
 'Confusion Reigns In the Expanding Digital World',
 'Game on! London exhibition celebrates the history of video games',
 'Making peace from victory over poverty',
 'Marine killed in fighting west of Baghdad',
 'Scientists create first cloaking device',
 'Amateur rocket scientists reach for space',
 'Confusion Reigns In the Expanding Digital World',
 'Deaths linked to flu vaccine',
 'Israel admits using phosphorous shells in Lebanon',
 '4th person dies after receiving flu shot',
 'Police and shoppers targeted in growing Iraq violence',
 'Scientists discover miracle in the depths',
 "Doctors Seeing Patients Who Think They're Internet Addicted",
 'China launches two satellites into orbit',
 'Vegetables May Boost Brain Power in Older Adults',
 'Hurricane Paul nears Category 3 status',
 'Russian ship sinks, 18-member crew missing',
 "Iran's president urges higher birth rate",
 'Apple set for massive market gains',
 'Tumor Types May Explain Survival Rates for Cancer',
 'Routine mission turns into hunt for missing comrade',
 'Bad weather slows S.Korean search for Russian ship',
 'Tailors and housewives busy as Muslims celebrate Eid',
 'Active peace brings the promise of development',
 'Abbas condemns Israeli massacre in northern Gaza Strip',
 'Bangladesh ferry sinks, 15 dead',
 'Bucs find a new kick in life',
 'Google to unveil election mashup',
 'Police warn of child exploitation online',
 'Breast Cancer Awareness is Important',
 'Hungary police tackle violent protestors',
 'Three drivers had reason to be proud in Brazil',
 'Celebrities Protest Malibu Gas Facility',
 'Lebo: A life lived on the edge',
 "Presto! He's Batman, then magic man",
 'Heavy use of mobile phones can make men infertile, scientists say',
 'Russian ship sinks in Pacific',
 'China Successfully Launches Two Satellites',
 'Prestige has magic touch',
 'Lies, damned lies, and divorce',
 'Manning inspires Giants to victory in Dallas',
 'Riot warning for France suburbs',
 'Full recovery expected for marathon winner',
 'Sony apologises for global battery recall',
 'Questions on credit card safety',
 'Budapest calm after night of violent protests',
 'Vegetables May Boost Brain Power in Older Adults',
 'Report criticises US press freedoms',
 'French suburb riots could resume',
 'Photographer kidnapping condemned',
 'Photographer kidnapped in Gaza',
 'Baseball: Rogers enjoys his muddied streak',
 'Cultural revolutionary, the iPod is five',
 'Life on Mars? Maybe We Missed It',
 'Three found alive from missing Russian ship -report',
 "Moderate drinking reduces men's heart attack risk",
 'The sweet tune of an anniversary',
 'Inconvenient truths',
 'Dating difficult for Harry Potter',
 'Students lose their rite of passage',
 'Putin vows to tackle illegal immigration',
 "Ottawa must redefine 'terror'",
 'Britain to Limit Workers from Romania, Bulgaria',
 'Top General Optimistic on Iraq',
 'Kim Osorio Wins Sexual Harrassment Suit Against The Source',
 'Silly and substantial',
 'Official laughs for Borat',
 'Speaker Hastert testifies before panel probing sex scandal',
 'On Educating Sexes Separately',
 'Tom Cruise and Katie Holmes set wedding date',
 'Martian Life Could Have Evaded Detection by Viking Landers',
 'Ukraine gas deal marred by fears',
 'Marathon victory comes at heavy cost',
 'College tuition continues climbing',
 'German paper shows soldiers desecrating skull',
 'War is close, Ethiopia tells Somali rebels',
 'Advantage Cardinals with Suppan in Game 4',
 'NASA spacecraft to measure Sun',
 'Sony Hates Europeans, Will Prevent The Importing of PS3',
 'Flu Vaccine Appears Safe for Young Children',
 'Google To Launch Yet Another Search Tool',
 "Tropical Storm Paul's Outer Bands Hit Mexico's Baja California",
 'Israeli Bomblets Plague Lebanon',
 'New Indonesia Calamity, a Mud Bath, Is Man-Made',
 'U.S. Weighs Sanctions Against North Korea',
 'Rice, in Baghdad, Insists That Iraqis Are ',
 'Senator Says U.S. Should Rethink Iraq Strategy',
 'German Chief Forges Accord on Financing Health Care',
 'Turkish Writers Say Efforts to Stifle Speech May Backfire',
 'Kurdish Lawmaker Killed in an Attack in Baghdad',
 'Anti-U.S. Attack Videos Spread on the Internet',
 'Women Face Greatest Threat of Violence at Home, Study Finds',
 'Appeal by Chinese Researcher for Times May Soon Be Heard',
 'Brazil Air Force Cites Faults and Confusion in Fatal Crash',
 'A Mix of Oil and Environmentalism',
 'Immigrants and French Reach Deal in Standoff',
 'Genghis Khan Beer? Mongolia Grimaces',
 'Dead Bachelors in Remote China Still Find Wives',
 'Managua Journal: Hold the Mojito and Margarita, Nicaragua Has el Macu',
 'Paris Journal: Smoking No Longer Tres Chic in France',
 "An Old Letter Casts Doubts on Iran's Goal for Uranium",
 'U.S. Warns North Koreans About Nuclear Test',
 'Global Sludge Ends in Tragedy for Ivory Coast',
 'Equipment on Plane in Brazil Collision May Have Been Faulty',
 'New Indonesia Calamity, a Mud Bath, Is Man-Made',
 'Iraqi Journalists Add Laws to List of Dangers',
 'U.N. Force Is Treading Lightly on Lebanese Soil',
 'Cleric Said to Lose Reins Over Part of Iraqi Militia',
 "Citing Spy Agencies' Study, Democrats Seek Iraq Changes",
 'Opera Canceled Over a Depiction of Muhammad',
 "Military Officials Add to U.S. Criticism of Iraq's Government",
 'Teacher in Hiding After Attack on Islam Stirs Threats',
 'Combative Bush Releases Parts of Terror Study',
 'Growing Unarmed Battalion in Qaeda Army Is Using Internet to Get the Message Out',
 'Iraqi Linked to Sunni Bloc Is Held in Plot, Military Says',
 'Seduced by Snacks? No, Not You',
 'Friends for Life: An Emerging Biology of Emotional Healing',
 "Alzheimer's Drugs Offer No Help, Study Finds",
 'Across Europe, Worries on Islam Spread to Center',
 'Cooking Defines Sephardic Jews at Sukkot',
 'Fitness: Bodies in Motion, Clean and Sober',
 "In God's Name: Religion-Based Tax Breaks: Housing to Paychecks to Books",
 'Yankee Dies in Plane Crash, Official Says',
 'An Elephant Crackup?',
 'With YouTube, Grad Student Hits Jackpot Again',
 'Dow flirts with record highs again',
 'Tropical Storm Isaac forms in Atlantic',
 'New Iraq terror tape calls for abducting foreigners',
 "'Deep regret' for ex-HP exec",
 "'Opportunity' knocks on geologist's dream crater",
 'Squirrel jumps boy in park; rabies suspected',
 'Girl left comatose after dental visit dies',
 'Porn star candidate campaigns on campus',
 'School ends football season after 0-4 start',
 'Charlie Sheen to become highest-paid sitcom star',
 "Jon Stewart mocks benefits of CNN's I",
 'Ashton Kutcher tells secret to Ryan Seacrest',
 'Nails-on-chalkboard study earns Ig',
 "Gunman 'fine' before shooting",
 "Marijuana may stave off Alzheimer's",
 'Kentucky seeks alcohol huffing ban',
 'Toddler died from tainted spinach',
 "Judge dismisses Karr's porn case",
 '10 die in 22-hour Kashmir standoff',
 'Slain Amish girls laid to rest',
 '5,000 flee plant fire',
 'Cher auction fetches double pre-sale estimates',
 "Stars scuffle on 'Grey's Anatomy'",
 'Probe under way in Yankee crash',
 'Amish schoolhouse torn down',
 "Warner will not run in '08",
 'Reid land deal under scrutiny',
 'Flooding washes out road to Valdez, Alaska',
 'Briton admits U.S. bomb plot role',
 'Commentary: Minutemen have a right to be idiotic',
 'Madonna files adoption papers',
 'Gunmen kill 9 at Iraqi TV station',
 'Hastert sorry for scandal but not quitting',
 'Ex-JonBenet suspect: Child porn case dropped ',
 'Waste plant fire forces 5,000 to evacuate ',
 'Toddler died from E. coli tainted spinach ',
 'Disturbing finds in child sex raids ',
 'Magazine lists women who had abortions ',
 "Pot smokers may avoid Alzheimer's, study says ",
 "Student starts white men's club on campus ",
 'Kentucky wants to ban alcohol inhalers ',
 'Peter Pan flies into chapter two ',
 'Teen repellent inventor wins infamous prize ',
 "Cher's dress, car, bed have new owners",
 'Dow hits new record, eyes 12,000 ',
 'Ex-Virginia gov not running for president ',
 "Yankee pitcher's pilot log found ",
 "Dem leader's $1 million land deal under scrutiny ",
 'Dad locked up son, watched on TV, police say ',
 'Navarrette: Minutemen have a right to be idiotic ',
 'Pit bulls jump miniature pony, leave her bloody ',
 'Alaska town cut off from rest of state by flood ',
 'Trailblazing trio protects City by the Bay ',
 'Madonna files adoption papers in Malawi',
 "'Dr. McDreamy' choked in 'Grey's' scuffle ",
 '$10,000 poetry prize awarded ',
 'Las Vegas honour for tiger pair ',
 'UK characters boosting box office ',
 'Cher items snapped up at auction ',
 "Griffiths scorns Withnail 'play' ",
 'Lily Allen wins web music award ',
 'Costner appeals in casino wrangle',
 'Beyonce copyright claim rejected ',
 'Cohn gunman jailed for 36 years ',
 "Melua's deep sea gig sets record ",
 'Sri Lanka clashes kill 129 troops ',
 'Gunmen kill 11 in Iraq TV raid ',
 'Italy drops Sicily bridge plans ',
 'Amish killings school demolished ',
 'Pamuk wins Nobel Literature prize',
 'Madonna adoption bid approved ',
 'Man admits UK-US terror bomb plot',
 'Who are you calling fat?']